<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>工业APP分类分级和测评系统</title>
</head>
<body>
<div style="background: aquamarine; width: 100px; height: 100px; border: aquamarine; border-radius: 50%; position: absolute; left: 10px; top: 10px"></div>
<a href="../login" style="position: absolute; left: 1200px; top: 40px; font-size: 20px">退出</a>
<strong style="font-size: 30px; position: absolute; left: 130px; top: 40px">您好！这里是工业APP分类分级和测评项目平台。</strong>
<strong style="font-size: 50px; position: absolute; left: 37px; top: 23px">❀</strong>

<p>
    <img src="../index/stripe.jpg" style="width: 1280px; height: 20px; position: absolute; left: 0; top: 120px">
</p>

<div style="background: black; width: 350px; height: 500px; position: absolute; left: 0; top: 150px"></div>

<button onclick="window.location.href = '../home_page'" style="font-size: 30px; position: absolute; left: 75px; top: 180px; background: aquamarine; border: aquamarine; border-radius: 10px">个人所有项目</button>
<button onclick="window.location.href = 'addApp6'" style="font-size: 30px; position: absolute; left: 45px; top: 280px; background: aquamarine; border: aquamarine; border-radius: 10px">新建工业APP申请</button>
<button onclick="window.location.href = '../home_page'" style="font-size: 30px; position: absolute; left: 30px; top: 380px; background: aquamarine; border: aquamarine; border-radius: 10px">等待审核的工业APP</button>
<button onclick="window.location.href = '../home_page'" style="font-size: 30px; position: absolute; left: 30px; top: 480px; background: aquamarine; border: aquamarine; border-radius: 10px">正在审核的工业APP</button>
<button onclick="window.location.href = '../home_page'" style="font-size: 30px; position: absolute; left: 15px; top: 580px; background: aquamarine; border: aquamarine; border-radius: 10px">已完成审核的工业APP</button>

<strong style="position: absolute; left: 380px; top: 170px; font-size: 20px">4、19项测评指标</strong>
<strong style="position: absolute; left: 420px; top: 200px; font-size: 20px">指标1：应用范围</strong>

<form action="addApp7" method="post">

    <p>
        <input type="checkbox" name="index1_level" value="一级" style="width: 18px; height: 18px; position: absolute; left: 450px; top: 250px" />
    <div style="font-size: 20px; position: absolute; left: 480px; top: 249px">一级要求：解决一般性信息化问题</div>

    <input type="checkbox" name="index1_level" value="二级" style="width: 18px; height: 18px; position: absolute; left: 450px; top: 330px" />
    <div style="font-size: 20px; position: absolute; left: 480px; top: 329px">二级要求：解决特定企业内关键技<br/>术问题或重点问题，不具备行业共性</div>

    <input type="checkbox" name="index1_level" value="三级" style="width: 18px; height: 18px; position: absolute; left: 450px; top: 410px" />
    <div style="font-size: 20px; position: absolute; left: 480px; top: 409px">三级要求：解决行业共性技术问<br/>题，适用于本行业大部分企业</div>

    <input type="checkbox" name="index1_level" value="四级" style="width: 18px; height: 18px; position: absolute; left: 450px; top: 490px" />
    <div style="font-size: 20px; position: absolute; left: 480px; top: 489px">四级要求：解决行业共性技术问<br/>题或重点问题</div>

    <input type="checkbox" name="index1_level" value="五级" style="width: 18px; height: 18px; position: absolute; left: 450px; top: 570px" />
    <div style="font-size: 20px; position: absolute; left: 480px; top: 569px">五级要求：解决技术革新或产业<br/>革命所需的重大问题</div>

    </p>

    <div style="position: absolute; left: 850px; top: 280px">相关说明阐述资料、应用验证报告、认证证明</div>

    <textarea type="text" name="index1_Info" style="width: 400px; height: 200px; border-radius: 10px; position: absolute; left: 850px; top: 320px"></textarea>

    <input type="submit" value="下一页" style="font-size: 20px; position: absolute; left: 950px; top: 560px">

</form>

</body>
</html>