<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>工业APP分类分级和测评系统</title>
</head>
<body>
<p>
    <img src="./index/stripe.jpg" width="1280" height="25" style="position: absolute; left:0; top:100px"/>
</p>

<div style="background: lightgrey; width: 430px; height: 610px; position: absolute; left: 0; top: 0"></div>

<p style="font-size: 40px; position: absolute; left: 40px; top: 225px">欢迎加入测评平台！</p>

<strong style="font-size: 60px; position: absolute; left: 500px; top: 70px">账号登录</strong>

<div>

    <form action="/home_page" method="post">
<table>

<P style="font-size: 20px; position: absolute; left: 500px; top: 285px">企业名称：</P>
<P style="font-size: 20px; position: absolute; left: 500px; top: 385px">密码：</P>
<input type="text" name="name" style="font-size: 20px; position: absolute; left: 600px; top: 300px; width: 200px; height: 30px">
<input type="password" name="password" style="font-size: 20px; position: absolute; left: 600px; top: 400px; width: 200px; height: 30px">
<input type="submit" value="登录" style="position: absolute; left: 900px; top: 350px">


</table>

    </form>
</div>
<a href="" style="position: absolute; left: 1000px; top: 500px">没有账号？立即注册</a>
</body>
</html>