<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>工业APP分类分级和测评系统</title>
</head>
<body>

<p>
  <img src="./index/stripe.jpg" width="1000" height="10" style="position: absolute; left:0; top:50px"/>
  <img src="./index/bg.jpg" width="1280" height="450" style="position: absolute; left:0; top:100px"/>
</p>

<p>
  <strong style="font-size:45px; background:lightgrey; border-radius:10px; position: absolute; left:40px; top:20px">工业APP分类分级和测评项目平台</strong>
</p>

<div style="font-size:35px; letter-spacing:10px; color:white; position: absolute; left:550px; top:260px">欢迎来到</div>
<div style="font-size:35px; letter-spacing:10px; color:white; position: absolute; left:300px; top:330px">工业APP分类分级和测评项目平台！</div>

<p>
  <img src="./index/stripe.jpg" width="1280" height="10" style="position: absolute; left:0; top:550px"/>
</p>

  <strong style="font-size:35px; position: absolute; left:20px; top:600px">关于我们</strong>
  <div style="font-size:20px; position: absolute; left:80px; top:650px">这是一个很不错的工业APP分类分级和测评系统，对，就是这样！让我</div>
  <div style="font-size:20px; position: absolute; left:40px; top:675px">来换一个行。</div>

<p>
  <img src="./index/semi1.jpg" width="100" height="100" style="position: absolute; left:900px; top:600px"/>
  <img src="./index/semi2.jpg" width="100" height="100" style="position: absolute; left:1050px; top:580px"/>
</p>

<button onclick="window.location.href = 'login'" style="background: lightgrey; border-radius:10px; font-size: 20px; position: absolute; left:1050px; top:30px">登录
</button>

<button style="background: lightgrey; border-radius:10px; font-size: 20px; position: absolute; left:1130px; top:30px">免费注册
</button>

</body>
</html>