<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>工业APP分类分级和测评系统</title>
</head>
<body>
<p>
    <img src="./index/stripe.jpg" width="1280" height="25" style="position: absolute; left:0; top:100px"/>
</p>

<div style="background: lightgrey; width: 430px; height: 610px; position: absolute; left: 0; top: 0"></div>

<p style="font-size: 40px; position: absolute; left: 40px; top: 225px">欢迎加入测评平台！</p>

<strong style="font-size: 60px; position: absolute; left: 500px; top: 70px">账号登录</strong>

<button style="background: #c4d0ff; border-radius:10px; font-size: 40px; position: absolute; left:500px; top:250px">专家账号
</button>

<button onclick="window.location.href = 'enterprise_login'" style="background: #c4d0ff; border-radius:10px; font-size: 40px; position: absolute; left:500px; top:400px">企业账号
</button>

<a href="" style="position: absolute; left: 1000px; top: 500px">没有账号？立即注册</a>

</body>
</html>